<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Laevo</title>
    <link rel="icon" href="/Images/Logo_Laevo_small1.png" type="image/icon type">
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="Laevo online furniture store " />
    <script>
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //Meta tag Keywords -->

    <!-- Custom-Files -->
    <link rel="stylesheet" href="CSS/bootstrap.css">
    <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="CSS/style.css" type="text/css" media="all" />
    <!-- Style-CSS -->
    <link href="CSS/font-awesome.min.css" rel="stylesheet">
    <!-- Font-Awesome-Icons-CSS -->
    <!-- //Custom-Files -->

    <!-- Web-Fonts -->
    <link href="//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
    <!-- //Web-Fonts -->
</head>

<body>
    <!-- main banner -->
    <div class="main-top" id="home">
        <!-- header -->
        <header>
            <div class="container-fluid">
                <div class="header d-md-flex align-items-center py-3 px-2">
                    <!-- logo -->
                    <div id="logo">
                        <a href="/"><img src="/Images/Logo_Laevo.png" alt="logo" height="69" width="112"></a>
                    </div>
                    <!-- //logo -->
                    <!-- nav -->
                    <div class="nav_w3ls ml-5">
                        <nav>
                            <label for="drop" class="toggle">Menu</label>
                            <input type="checkbox" id="drop" />
                            <ul class="menu">
                                <li><a href="/">Home</a></li>
                                <li><a href="/about">About Us</a></li>
                                <li><a href="/">Gallery</a></li>
                                <li><a href="/contact">Contact Us</a></li>
                            </ul>
                        </nav>
                    </div>
                    <!-- //nav -->
                </div>
            </div>
        </header>
        <!-- //header -->

        <!-- banner -->
        <div class="banner_w3lspvt-2">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item" aria-current="page">Contact Us</li>
            </ol>
        </div>
        <!-- //banner -->
    </div>
    <!-- //main banner -->

    <!-- contact  -->
    <section class="contact py-5">
        <div class="container py-xl-5 py-lg-3">
            <h3 class="title mb-5 pb-4 text-center font-weight-bold">Contact Us</h3>
            <div class="row">
                <!-- contact form -->
                <div class="col-lg-6 contact-us1-bottom w3layouts-w3ls">
                    <form action="/contact" method="post">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Name" name="name" required="">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Email" name="email" required="">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" placeholder="Message" name="message" required=""></textarea>
                        </div>
                        <button type="submit" class="btn">Submit</button>
                    </form>
                </div>
                <!-- //contact form -->
                <!-- contact address -->
                <div class="col-lg-6 home-radio-clock pl-xl-5 mt-lg-0 mt-5">
                    <h3 class="tittle text-bl mb-5 font-weight-bold">Get In Touch</h3>
                    <div class="row">
                        <div class="col-4 cont-add-w3pvt">
                            <ul class="list-unstyled">
                                <li><i class="fa fa-envelope mr-2" aria-hidden="true"></i>Address</li>
                                <li class="my-5"><i class="fa fa-phone mr-2" aria-hidden="true"></i>Call Us</li>
                                <li><i class="fa fa-clock-o mr-2" aria-hidden="true"></i>Opening Time</li>
                            </ul>
                        </div>
                        <div class="col-8 cont-add-w3pvt-2">
                            <div class="home-radio-clock-right">
                                <ul class="list-unstyled">
                                    <li>Dr. Vishnuvardhan Road,
                                        <span>Bengaluru</span></li>
                                    <li class="my-4">+91 1800 419 4532
                                        <span>+91 1800 216 328</span>
                                    </li>
                                    <li>Mon-Sat:<span>9:00AM - 8:00PM</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //contact address -->
            </div>
        </div>
    </section>

    <!-- map -->
    <div class="map">
        <iframe src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Dr.%20Visnuvardhan%20Road,%20Channsandra,%20Bengaluru+(Leavo)&amp;t=&amp;z=17&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" "></iframe>
    </div>
    <!--// map -->

    <!-- footer -->
    <footer class="bg-li py-5 ">
        <div class="container py-xl-5 py-lg-3 ">
            <div class="row footer-grids ">
                <div class="col-lg-4 footer-grid mt-lg-3 ">
                    <h2>
                        <a class="logo-2 " href="/ "><img src="/Images/Logo_Laevo.png " alt="logo " height="85 " width="130 "></a>
                    </h2>
                </div>
                <div class="col-lg-2 col-sm-6 footer-grid mt-lg-3 mt-4 ">
                    <h3 class="mb-sm-4 mb-3 pb-3 ">Home</h3>
                    <ul class="list-unstyled ">
                        <li>
                            <a href="/ ">Index</a>
                        </li>
                        <li>
                            <a href="/about ">About Us</a>
                        </li>
                        <li>
                            <a href="/ ">Gallery</a>
                        </li>
                        <li>
                            <a href="/contact ">Contact Us</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-sm-6 footer-grid footer-contact mt-lg-3 mt-4 ">
                    <h3 class="mb-sm-4 mb-3 pb-3 "> Contact Us</h3>
                    <ul class="list-unstyled ">
                        <li>
                            +91 1800 419 4532
                        </li>
                        <li class="mt-2 ">
                            <a href="mailto:feedback@laevo.com ">feedback@laevo.com</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-sm-6 footer-grid-social mt-lg-3 mt-4 ">
                    <h3 class="mb-sm-4 mb-3 pb-3 ">Catch on Social</h3>
                    <ul class="list-unstyled ">
                        <li class="d-inline ">
                            <a href="# "><span class="fa fa-facebook "></span></a>
                        </li>
                        <li class="d-inline ">
                            <a href="# "><span class="fa fa-twitter "></span></a>
                        </li>
                        <li class="d-inline ">
                            <a href="# "><span class="fa fa-google-plus "></span></a>
                        </li>
                        <li class="d-inline ">
                            <a href="# "><span class="fa fa-instagram "></span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- //footer -->
    <!-- copyright -->
    <div class="copy_right text-center py-3 position-relative ">
        <p>© 2020 <img src="/Images/Logo_Laevo.png " alt="logo " height="30 " width="55 ">. All rights reserved | Design by <img src="/Images/Logo_Laevo.png " alt="logo " height="30 " width="55 ">
        </p>
        <!-- move top icon -->
        <a href="#home " class="move-top text-center ">
            <span class="fa fa-level-up " aria-hidden="true "></span>
        </a>
        <!-- //move top icon -->
    </div>
    <!-- //copyright -->

</body>

</html>