<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="Laevo, online furniture store, indian laevo" />
    <link rel="icon" href="/Images/Logo_Laevo_small1.png" type="image/icon type">
    <link rel="stylesheet" type="text/css" href="/CSS/sucess.css">

    <script type="text/javascript" src="/JS/sucess.js"></script>

    <title>Laevo-Success</title>

</head>

<body onload="addDate();">
    <div id="Container">
        <div id="Text-div">
            <div id="Info">
                <div id="Logo"><img src="/Images/Logo_Laevo.png" alt="It is our Logo" /></div>
                <p id="Text">House of woods!<br/>Your one stop destination to all your furniture needs.<br/><br/>Thank you for shopping with us!</p>
            </div>
        </div>

        <div id="Content">
            <h1>Order Sucessfull</h1>
            <div id="Order">
                <p>Your order has been placed.</p>
                <p>Your order will be delivered within <span id="Date"></span></p>
                <div id="Btn">
                    <a href="/"><button type="button" id="Done">Home</button></a>
                </div>
            </div>
        </div>
    </div>

</body>

</html>